html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tfoot, thead, th,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:focus {
	outline:none;
}
button::-moz-focus-inner {
    border: 0 !important;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	height: 100%;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700|Slabo+27px&display=swap');

/* 
font-family: 'Slabo 27px', serif;
font-family: 'Roboto', sans-serif;
 */

html, 
body {
    background:#1e1e1e;
    color: #fff;
}

.container {
    position: absolute;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    left: 20vw;
}

@media (max-width: 380px) {
    .container {
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.title {
    clear: both;
    float: left;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    white-space: nowrap;
}

.intro {
    clear: both;
    display: block;
    font-family: 'Slabo 27px', serif;
    font-size: 16px;
}

.contact {
    display: block;
    padding: 15px 0;
    margin: 0 -5px;
    font-size: 0;
}

.contact__item {
    display: inline-block;
    position: relative;
    text-decoration: none;
    width: 28px;
    height: 28px;
}

.contact__item:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px 0 0 -9px;
    background: center center no-repeat;
}

.contact__item-git:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m256%200c-140.609375%200-256%20115.390625-256%20256%200%20119.988281%2084.195312%20228.984375%20196%20256v-84.695312c-11.078125%202.425781-21.273438%202.496093-32.550781-.828126-15.128907-4.464843-27.421875-14.542968-36.546875-29.910156-5.816406-9.8125-16.125-20.453125-26.878906-19.671875l-2.636719-29.882812c23.253906-1.992188%2043.371093%2014.167969%2055.3125%2034.230469%205.304687%208.921874%2011.410156%2014.152343%2019.246093%2016.464843%207.574219%202.230469%2015.707032%201.160157%2025.183594-2.1875%202.378906-18.972656%2011.070313-26.074219%2017.636719-36.074219v-.015624c-66.679687-9.945313-93.253906-45.320313-103.800781-73.242188-13.976563-37.074219-6.476563-83.390625%2018.238281-112.660156.480469-.570313%201.347656-2.0625%201.011719-3.105469-11.332032-34.230469%202.476562-62.546875%202.984375-65.550781%2013.078125%203.867187%2015.203125-3.890625%2056.808593%2021.386718l7.191407%204.320313c3.007812%201.792969%202.0625.769531%205.070312.542969%2017.371094-4.71875%2035.683594-7.324219%2053.726563-7.558594%2018.179687.234375%2036.375%202.839844%2054.464844%207.75l2.328124.234375c-.203124-.03125.632813-.148437%202.035157-.984375%2051.972656-31.480469%2050.105469-21.191406%2064.042969-25.722656.503906%203.007812%2014.128906%2031.785156%202.917968%2065.582031-1.511718%204.65625%2045.058594%2047.300781%2019.246094%20115.753906-10.546875%2027.933594-37.117188%2063.308594-103.796875%2073.253907v.015624c8.546875%2013.027344%2018.816406%2019.957032%2018.761719%2046.832032v105.722656c111.808594-27.015625%20196-136.011719%20196-256%20.003906-140.609375-115.386719-256-255.996094-256zm0%200%22/%3E%3C/svg%3E');
}

.contact__item-inst:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m437%200h-362c-41.351562%200-75%2033.648438-75%2075v362c0%2041.351562%2033.648438%2075%2075%2075h362c41.351562%200%2075-33.648438%2075-75v-362c0-41.351562-33.648438-75-75-75zm-180%20390c-74.441406%200-135-60.558594-135-135s60.558594-135%20135-135%20135%2060.558594%20135%20135-60.558594%20135-135%20135zm150-240c-24.8125%200-45-20.1875-45-45s20.1875-45%2045-45%2045%2020.1875%2045%2045-20.1875%2045-45%2045zm0%200%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m407%2090c-8.277344%200-15%206.722656-15%2015s6.722656%2015%2015%2015%2015-6.722656%2015-15-6.722656-15-15-15zm0%200%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m257%20150c-57.890625%200-105%2047.109375-105%20105s47.109375%20105%20105%20105%20105-47.109375%20105-105-47.109375-105-105-105zm0%200%22/%3E%3C/svg%3E');
}

.contact__item-telegram:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%20-31%20512%20512%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m123.195312%20260.738281%2063.679688%20159.1875%2082.902344-82.902343%20142.140625%20112.976562%20100.082031-450-512%20213.265625zm242.5-131.628906-156.714843%20142.941406-19.519531%2073.566407-36.058594-90.164063zm0%200%22/%3E%3C/svg%3E');
}

.contact__item-vk:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%20-121%20512%20512%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m457.742188%2095.480469c52.980468-71.726563%2041.230468-73.070313%2054.257812-95.480469h-101.527344s-7.214844%2025.050781-9.417968%2029.535156c-19.5%2039.660156-63.238282%2099.167969-89.691407%20105.25-26.046875%205.992188-22.589843-55.5625-20.984375-82.226562%201.511719-24.714844%201.253906-33.363282.527344-37.632813-1.0625-6.238281-6.296875-10.789062-12.578125-11.582031-12.949219-1.640625-36.445313-3.960938-62.757813-2.742188l-23.539062.78125c9.28125%2020.761719%2015.550781%2014.398438%2018.96875%2038.417969%203.859375%2028.121094%202.339844%2096.546875-25.355469%2096.546875-44.398437%200-94.234375-133.34375-95.820312-136.347656h-89.824219l8.21875%2020.566406c66.238281%20165.820313%20149.082031%20242.621094%20262.429688%20249.007813l14.75.425781%201.054687-14.324219c1.59375-22.121093%2012.691406-53.964843%2032.375-53.964843%2029.082031%200%2037.484375%208.46875%2056.664063%2032.167968%2018.441406%2022.722656%2031.148437%2036.121094%2060.90625%2036.121094h75.601562l-10.78125-21.679688c-16.835938-33.800781-50.605469-62.777343-63.792969-79.585937-4.777343-6.328125-9.480469-16.332031-4.613281-28.433594%203.980469-10.539062%2015.832031-32.519531%2024.929688-44.820312zm0%200%22/%3E%3C/svg%3E');
}

.contact__item-fb:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m437%200h-362c-41.351562%200-75%2033.648438-75%2075v362c0%2041.351562%2033.648438%2075%2075%2075h151v-181h-60v-90h60v-61c0-49.628906%2040.371094-90%2090-90h91v90h-91v61h91l-15%2090h-76v181h121c41.351562%200%2075-33.648438%2075-75v-362c0-41.351562-33.648438-75-75-75zm0%200%22/%3E%3C/svg%3E');
}